.home
  - @posts.each do |post|
    .card-wrap
      .card
        .card-header
          = link_to user_path(post.user), class: "no-text-decoration" do
            = image_tag avatar_url(post.user), class: "post-profile-icon"
          .name-user
            = link_to user_path(post.user), class: "user-name" do
              = post.user.name
          .delete-post
            - if post.user.id == current_user.id
              = link_to post_path(post), method: :delete, class: "post-delete" do
                = icon('fas', 'trash')
        -# = image_tag post.photos.first.image.url(:medium), class: "card-img-top", width: "500px", heigth: "600px"
        -# = image_tag image_url, data: { index: i }, width: "100", height: '120'
        = image_tag post.photos[0].image.url, height: "500px", width: "650px"
        .card-body
          .like-comment
            %div{:id => "like-icon-post-#{post.id.to_s}"}
              - if post.liked_by(current_user).present?
                = link_to "Delete Like", post_like_path(post.id, post.liked_by(current_user)), method: :DELETE, remote: true, class: "loved hide-text"
              - else
                = link_to "Like", post_likes_path(post), method: :POST, remote: true, class: "love hide-text"

          %div
            %strong 「いいね！」10件
          %div.post-content
            .post-text
              %span= post.text
              %q.created-at 
                -# = post.created_at
                = link_to time_ago_in_words(post.created_at).upcase + "前", "#", class: "post-time"
            -# .comment-all
            -#   %h2.current-comment
            -#     < コメント一覧 >
            -#   .comment-each
            -#     - if @comments
            -#       - @comments.each do |comment|
            -#         .comment-user
            -#           =link_to comment.user.name
            -#           %p.koron :
            -#           .comment-text
            -#             %p.comment-honbun=comment.text
            -# = form_with model: @comment, url: post_comments_path(post), method: :post, local: true  do |form|
            -#   .comment-content
            -#     =form.text_area :text, placeholder: "例）素敵ですね", class: "comment-form"
            -#   .comment-button
            -#     =form.submit "コメントする", class: "comment-btn"