.post-new
  = form_with model: @post, local: true do |form|
    .image-new
      = form.fields_for :photos do |image|
        = image.file_field :image, class: "image-upload"
    .text-new
      = form.text_area :text, class: "text-form", placeholder: "例）今日は楽しかったです"
    .text-submit
      = form.submit "投稿する", class: "post-btn"